@model Generic
<div id="main">
    <div class="inner">
        <h1>@Model.Name</h1>
        <span class="image main"><img src="@Model.Image" /></span>
        <p>@Model.FirstText</p>
        <p>@Model.SecondText</p>
        <p>@Model.ThirdText</p>
    </div>
</div>